.footer-bg {
    background: var(--cor-12);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 40px;
    padding: 60px 20px;
}

.footer h3{
    text-transform: uppercase;
    margin-bottom: 32px;
}

.footer li {
    margin-bottom: 16px;
}

.footer-contato li:nth-child(even)::after {
    content: "";
    display: block;
    max-width: 360px;
    height: 2px;
    background: var(--cor-11);
    margin-top: 16px;
}

.footer-contato ul {
    margin-bottom: 32px;
}

.footer-redes {
    display: flex;
    gap: 32px;
}

.footer-informacoes a{
    color: var(--cor-5);
}

.footer-informacoes a:hover{
    color: var(--cor-0);
}

.footer-copy{
    grid-column: 1 / -1;
    margin-top: 40px;
}

@media (max-width: 800px) {
    .footer{
        grid-template-columns: 1fr 1fr;
    }

    .footer > img {
        display: none;
    }
}

@media (max-width: 600px) {
    .footer{
        grid-template-columns: 1fr;
        gap: 60px;
    }

    .footer-copy {
        margin-top: 0px;
    }
}