body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0px;
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, p, ul, blockquote, dd{
    padding: 0px;
    margin: 0px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

img[src$=".jpg"] {
    border-radius: 4px;
}